*{
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
 }
 body{
    overflow-x: hidden;
 }
 .nav{
    height: 4.5rem;
    width: 100vw;
    background-color: #1f2029;
    box-shadow: 0 3px 20px rgba(245, 245, 245, 0.555);
    display: flex;
    position: relative;
    z-index: 10;
 }
 
 /*Styling logo*/
 .logo{
    padding:1vh 1vw;
    text-align: center;
 }
 .logo img {
    height: 5rem;
    width: 5rem;
 }
 
 /*Styling Links*/
 .nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
 }
 .nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
 }
 .nav-links li a:hover {
    color: #61DAFB;
 }
 .nav-links li {
    position: relative;
 }
 .nav-links li a:hover::before{
    width: 80%;
 }
 
 /*Styling Buttons*/
 .login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
 
 }
 .login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
 }
 .join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
 }
 .join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
 }
 
 /*Styling Hamburger Icon*/
 .hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
 }
 .hamburger{
    display: none;
 }
 
 /*Stying for small screens*/
 @media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(150% at 90% -10%);
        -webkit-clip-path: circle(150% at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
 }
 /*Animating Hamburger Icon on Click*/
 .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
 }
 .toggle .line2{
    transition: all 0.7s ease;
    width:0;
 }
 .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
 }

 /* Estilizando o campo de pesquisa */
li input[type="search"] {
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 6px;
   width: 25vh;
   outline: none;
   font-size: 14px;
   color: black;
   background-color: #c4c3ca;
}

/* Adicionando estilos quando o campo de pesquisa recebe foco */
li input[type="search"]:hover {
   background-color: white;
}

.user-menu {
   position: relative;
   display: inline-block;
   cursor: pointer;
   font-weight: bold;
}

#user-name {
   display: flex;
   align-items: center;
   padding: 8px 12px;
   border-radius: 5px;
   background-color: #3490dc;
   color: #fff;
   cursor: pointer;
   transition: background-color 0.3s;
 }
 
 #user-name:hover {
   background-color: #2779bd;
 }
 
 #user-name i {
   margin-left: 5px;
   transition: transform 0.3s;
 }
 
 .mini-menu {
   position: absolute;
   top: calc(100% + 10px);
   right: 0; /* Alterado de 'left: 0;' para 'right: 0;' */
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   list-style: none;
   padding: 8px 0;
   margin: 0;
   opacity: 0;
   height: 0;
   overflow: hidden;
   transition: height 0.3s, opacity 0.3s;
   z-index: 1;
   width: 150px; /* Ajuste conforme necessário */
 }
 
 .user-menu.active #user-name i {
   transform: rotate(180deg);
 }
 
 .user-menu.active .mini-menu {
   opacity: 1;
   height: auto;
 }
 
 .ver-perfil,
 .gerir-reservas,
 .btnlogout {
   display: block;
   padding: 8px 16px;
   color: #333;
   text-decoration: none;
   transition: background-color 0.3s, color 0.3s;
 }
 
 .ver-perfil:hover,
 .gerir-reservas:hover {
   background-color: #f0f0f0;
   color: #3490dc;
 }
 
 .btnlogout {
   background-color: #3490dc; /* Azul por padrão */
   color: #fff;
   transition: background-color 0.3s, color 0.3s;
 }
 
 .btnlogout:hover {
   background-color: #e74c3c; /* Vermelho ao passar o mouse */
 }

 .search-curtain {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   background-color: #fff; /* Cor de fundo da cortina */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
   z-index: 1;
}

.search-curtain-item {
   padding: 10px;
   border-bottom: 1px solid #ddd; /* Linha entre os itens */
   cursor: pointer;
}

.search-curtain-item:hover {
   background-color: #f5f5f5; /* Cor de fundo ao passar o mouse */
}

.search-results {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   background-color: #fff;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   z-index: 1;
   border-radius: 10px;
}

.search-result-item {
   display: flex;
   align-items: center;
   padding: 10px;
   border-bottom: 1px solid #ddd;
   cursor: pointer;
}

.search-result-item img {
   width: 40px; /* Ajuste conforme necessário */
   height: 40px; /* Ajuste conforme necessário */
   margin-right: 10px;
}

.search-result-item:hover {
   background-color: #f5f5f5;
   border-radius: 10px;
}

.search-results p, .search-result-item div {
   color: black;
}

.cart-curtain {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 1; /* Posicione a cortina sobre os outros elementos */
}

.modal {
   display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 2; /* Posicione o modal acima da cortina */
    width: 80%; /* Ajuste a largura conforme necessário */
    max-width: 600px; /* Defina uma largura máxima conforme necessário */
    padding: 20px; /* Ajuste o preenchimento interno conforme necessário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicione uma sombra conforme desejado */
}

.modal-content {
   padding: 20px;
}

.close {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 20px;
   cursor: pointer;
   color: red;
}

.itensCarrinho > li{
   color: black;
}