.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.reservation-success {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Largura máxima da caixa de mensagem */
}

.reservation-success h1 {
    color: #4CAF50; /* Cor do título */
    margin-bottom: 20px;
}

.reservation-success p {
    font-size: 18px;
    color: #333; /* Cor do texto */
}
