body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  h2 {
    text-align: center;
    color: white;
  }

  .reservations-table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 10px;
  }

  .reservations-table th, .reservations-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: black;
  }

  .reservations-table th {
    background-color: grey;
    color: black;
    font-weight: bold;
  }

  .reservations-table tr:hover {
    background-color: #f5f5f5;
  }

  .reservations-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

